body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #333333;
    color: #ffffff;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

img {
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
}

#imageCount {
    margin: 10px 0;
}
